<p>
  la cantidad de productos en el carrito: {{myShoppingCart.length}}
</p>
<p>
  Total: ${{total}}
</p>
<p>
  Today {{today | date: 'medium'}}
</p>
<p> {{ today | timeAgo}}</p>

<button (click)="createNewProduct()"> Create </button>
<button (click)="onShowDetail('3545')"> more details fake</button>

<div class="products--grid">
  <app-product [product]="product" *ngFor="let product of products" (addedProduct)="onAddToShoppingCart($event)"
    (showProduct)="onShowDetail($event)"></app-product>
    <button (click)="loadMore()">Load More</button>
</div>


<div class="product-detail" [class.active]="showProductDetail">
  <p>{{statusDetail}}</p>

  <div *ngIf="productChosen">
    <button (click)="toggleProductDetail()">close</button>
    <h1>{{ productChosen.title }}</h1>

    <swiper [slidesPerView]="1">
      <ng-template swiperSlide *ngFor="let img of productChosen.images" >
        <img [src]="img">
      </ng-template>
    </swiper>

    <p>{{ productChosen.description}}</p>

    <button (click)="updateProduct()">Edit this Product</button>
    <button (click)="deleteProduct()" >Delete this Product</button>
  </div>
</div>